<header>
  <h1 class="page-heading">Sign In</h1>
</header>
<hr>

<main class="page-container">

  <%= simple_form_for :session, { url: session_path } do |f| %>

    <%= f.input :email %>

    <%= f.input :password %>

    <div class="d-flex justify-content-between my-4">
      <div>
        <%= f.submit 'Sign In', class: 'btn btn-outline-light'  %>
      </div>
      <div>
        <%= link_to 'Sign In As Guest', sign_in_as_guest_path, class: 'btn btn-outline-light ml-3' %>
        <%= link_to 'Sign Up', new_user_path, class: 'btn btn-outline-light ml-3' %>
      </div>
    </div>

  <% end %>
  
</main>
