<%= form_with(model: student_drill_group, local: true) do |form| %>
  <% if student_drill_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_drill_group.errors.count, "error") %> prohibited this student_drill_group from being saved:</h2>

      <ul>
      <% student_drill_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :student_drill_group_user_id %>
  </div>

  <div class="field">
    <%= form.label :drill_group_id %>
    <%= form.text_field :drill_group_id, id: :student_drill_group_drill_group_id %>
  </div>

  <div class="field">
    <%= form.label :points_awarded %>
    <%= form.number_field :points_awarded, id: :student_drill_group_points_awarded %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :student_drill_group_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
