<p id="notice"><%= notice %></p>

<h1>Student Drill Groups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Drill group</th>
      <th>Points awarded</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_drill_groups.each do |student_drill_group| %>
      <tr>
        <td><%= student_drill_group.user_id %></td>
        <td><%= student_drill_group.drill_group_id %></td>
        <td><%= student_drill_group.points_awarded %></td>
        <td><%= student_drill_group.score %></td>
        <td>
          <%= link_to 'Start',
            drill_path(
              id: DrillGroup.find(student_drill_group.drill_group_id).drills.first,
              sdgid: student_drill_group.id
            )
          %>
        </td>
        <td><%= link_to "Remove",
         student_drill_group_path(student_drill_group), method: :delete, data: { confirm: 'Are you sure that you want to delete this product?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
