
<h1 style="text-align:center">My Drill Groups</h1>

<div class="container drill-groups">
  <% if @beginner_group.present? %>
  <h3>Beginner Group</h3>
  <div class="beginner d-flex flex-wrap">
  <% sort_by_name(@beginner_group).each do |dg| %>
    <div class="card drill-group">
      <div class="card-body">
        <div class="contents">
          <div class="drill-group-title">
            <h4 class="card-title"><%= dg.name %></h4>
          </div>
          <h6 class="card-text">Level: <%= dg.friendly_level %></h6>
          <h6 class="card-text">Total Points: <%= dg.max_points %></h6>
        </div>
        <div class="start-remove d-flex justify-content-around">
          <%= link_to 'Start', drill_path(dg.drills.first),
            class: 'btn btn-outline-secondary' %>
          <%= link_to 'Remove', student_drill_group_path(dg),
            method: :delete,
            data: { confirm: 'Remove from My Drills?' },
            class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>

<% if @intermediate_group.present? %>
  <h3>Intermediate Group</h3>
  <div class="intermediate d-flex flex-wrap">
  <% sort_by_name(@intermediate_group).each do |dg| %>
    <div class="card drill-group">
      <div class="card-body">
        <div class="contents">
          <div class="drill-group-title">
            <h4 class="card-title"><%= dg.name %></h4>
          </div>
          <h6 class="card-text">Level: <%= dg.friendly_level %></h6>
          <h6 class="card-text">Total Points: <%= dg.max_points %></h6>
        </div>
        <div class="start-remove d-flex justify-content-around">
          <%= link_to 'Start', drill_path(dg.drills.first),
            class: 'btn btn-outline-secondary' %>
          <%= link_to 'Remove', student_drill_group_path(dg),
            method: :delete,
            data: { confirm: 'Remove from My Drills?' },
            class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>

  <% if @advanced_group.present? %>
  <h3>Advanced Group</h3>
  <div class="advanced d-flex flex-wrap">
  <% sort_by_name(@advanced_group).each do |dg| %>
    <div class="card drill-group">
      <div class="card-body">
        <div class="contents">
          <div class="drill-group-title">
            <h4 class="card-title"><%= dg.name %></h4>
          </div>
          <h6 class="card-text">Level: <%= dg.friendly_level %></h6>
          <h6 class="card-text">Total Points: <%= dg.max_points %></h6>
        </div>
        <div class="start-remove d-flex justify-content-around">
          <%= link_to 'Start', drill_path(dg.drills.first),
            class: 'btn btn-outline-secondary' %>
          <%= link_to 'Remove', student_drill_group_path(dg),
            method: :delete,
            data: { confirm: 'Remove from My Drills?' },
            class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>

</div>
