<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @student_drill_group.user %>
</p>

<p>
  <strong>Drill group:</strong>
  <%= @student_drill_group.drill_group %>
</p>

<p>
  <strong>Points awarded:</strong>
  <%= @student_drill_group.points_awarded %>
</p>

<p>
  <strong>Score:</strong>
  <%= @student_drill_group.score %>
</p>

<%= link_to 'Edit', edit_student_drill_group_path(@student_drill_group) %> |
<%= link_to 'Back', student_drill_groups_path %>
