<div class="form-group">
  <%= simple_form_for @user do |f| %>

    <%= f.input :first_name, class: 'form-control' %>
    <%= f.input :last_name, class: 'form-control' %>
    <%= f.input :email, class: 'form-control' %>
    <%= f.input :password, class: 'form-control' %>
    <%= f.input :password_confirmation, class: 'form-control' %>

    <%= f.submit class: 'btn btn-outline-light' %>

  <% end %>
</div>
