<header class="d-flex justify-content-between align-items-center">
  <div>
    <h1 class="page-heading">Users</h1>
  </div>
  <div>
    <%= link_to 'New User', new_user_path, class: 'btn btn-outline-light' %>
  </div>
</header>
<hr>

<main class="page-container">
  <table class="table user-table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Points</th>
        <th scope="col">Badges</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.is_admin %></td>
          <td><%= get_user_points(user) %></td>
          <td><%= get_user_badges(user).count %></td>
          <td><%= link_to 'Show', user, class: 'btn btn-outline-secondary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
