<header class="d-flex justify-content-between align-items-center">
  <div>
    <h1 class="page-heading"><%= @user.full_name %></h1>
  </div>
  <div>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-outline-light' %>
  </div>
</header>
<hr>

<main class="page-container user-profile">

  <div class="user-profile-details">
    <div class="d-flex align-items-baseline my-3">
      <div><span class="badge badge-light badge-pill p-3">Email</span></div>
      <div><%= @user.email %></div>
    </div>
    <div class="d-flex align-items-baseline my-3">
      <div><span class="badge badge-light badge-pill p-3">Points</span></div>
      <div><%= @points %></div>
    </div>
    <div class="d-flex align-items-baseline my-3">
      <div><span class="badge badge-light badge-pill p-3">Badges</span></div>
      <div>
        <% if @badges.empty? %>
          None yet... go and complete some drills!
        <% else %>
          <% @badges.each do |badge| %>
            <div>
              <h5>
                <span class="badge badge-pill green mx-1 p-2"><%= badge.badge_name %></span>
              </h5>
            </div>
          <% end %>    
        <% end %>      
      </div>
    </div>
  </div>

</main>
