<%= simple_form_for [@drill_group, @drill] do |f| %>

  <% if @drill.errors.present? %>
    <div class="alert alert-danger">
      <%= @drill.errors.full_messages.join(', ') %>
    </div>
    <% end %>

      <div class="form-group mt-2">
        <%= f.input :question, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.simple_fields_for :solutions do |s| %>
          <%= render 'admin/drill_groups/solution_fields', :f => s %>
            <% end %>
              <div class="links">
                <%= link_to_add_association 'Add Solution', f, :solutions, { partial: 'admin/drill_groups/solution_fields', class: 'btn btn-light btn-sm my-1' } %>
              </div>
      </div>

      <div class="form-group">
        <%= f.submit 'Save Drill', class: 'btn btn-outline-light' %>
      </div>

      <% end %>
