
<%= simple_form_for [@drill_group, @drill] do |f| %>

  <div class="form-group">
    <%= f.input :question, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.simple_fields_for :solutions do |s_form| %>
        <%= s_form.input :solution, as: :string, class: 'form-control' %>
          <% end %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-outline-primary' %>
  </div>

  <% end %>