<h1>Drills</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Drill group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drills.each do |drill| %>
      <tr>
        <td><%= drill.question %></td>
        <td><%= drill.drill_group %></td>
        <td><%= link_to 'Show', drill %></td>
        <td><%= link_to 'Edit', edit_drill_path(drill) %></td>
        <td><%= link_to 'Destroy', drill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drill', new_drill_path %>
