<div>
  <strong>Drill group:</strong>
  <%= @drill.drill_group.name %>
</div>

<div>
  <strong>Question:</strong>
  <%= @drill.question %>
</div>

<div>
  <strong>Solutions:</strong>
  <ul>
    <% @drill.solutions.each do |s| %>
      <li>
        <%= s.solution %>
      </li>
      <% end %>
  </ul>
</div>

<%= simple_form_for :attempt,
  url: user_student_drills_path(current_user),
  method: 'post' do |f|
%>
  <%= hidden_field_tag 'drill_id', @drill.id %>
  <%= f.input :answer  %>
  <%= f.submit "Submit" %>
<% end %>
