<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Question:</strong>
  <%= @drill.question %>
</p>

<p>
  <strong>Drill group:</strong>
  <%= @drill.drill_group %>
</p>

<p>
  <strong>Solutions:</strong>
  <ul>
    <% @drill.solutions.each do |s| %>
      <li>
        <%= s.solution %>
      </li>
      <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_drill_path(@drill) %>