<%= form_with(model: student_drill, local: true) do |form| %>
  <% if student_drill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_drill.errors.count, "error") %> prohibited this student_drill from being saved:</h2>

      <ul>
      <% student_drill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :student_drill_user_id %>
  </div>

  <div class="field">
    <%= form.label :drill_id %>
    <%= form.text_field :drill_id, id: :student_drill_drill_id %>
  </div>

  <div class="field">
    <%= form.label :is_correct %>
    <%= form.check_box :is_correct, id: :student_drill_is_correct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
