<p id="notice"><%= notice %></p>

<h1>Student Drills</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Drill</th>
      <th>Is correct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_drills.each do |student_drill| %>
      <tr>
        <td><%= student_drill.user %></td>
        <td><%= student_drill.drill %></td>
        <td><%= student_drill.is_correct %></td>
        <td><%= link_to 'Show', student_drill %></td>
        <td><%= link_to 'Edit', edit_student_drill_path(student_drill) %></td>
        <td><%= link_to 'Destroy', student_drill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Drill', new_student_drill_path %>
