<!DOCTYPE html>
<html>
  <head>
    <title>Codechampz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if user_signed_in? %>

    <nav class="nav navbar navbar-light bg-light navbar-expand-sm justify-content-between">
      <div class="logo navbar-brand">
          <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Question_Mark.svg/1000px-Question_Mark.svg.png', alt: 'logo-icon', style: "width:40px; height: 40px;"%>
      </div>

        <% if current_user.is_admin? %>
          <ul class="navbar nav">
            <li class="navbar-item admin"><%= link_to 'Drillz', drill_groups_path %></li>
            |
            <li class="navbar-item admin"><%= link_to 'Users', users_path %></li>
            |
            <li class="navbar-item student"><%= link_to 'Leaderboard', leaderboard_path %></li>
            |
            <li class="navbar-item"><%= link_to 'Logout', session_path, method: :delete %></li>
          </ul>

        <% else %>

          <ul class="navbar nav">
            <div class="navbar nav">
              <li class="navbar-item student"><%= link_to 'My Drillz', user_student_drill_groups_path(current_user) %></li>
              |
              <li class="navbar-item student"><%= link_to 'All Drillz', drill_groups_path %></li>
              |
              <li class="navbar-item student"><%= link_to 'Leaderboard', leaderboard_path %></li>
            </div>
            <div class="navbar nav">
              <li class="navbar-item student">
                <span>Hello,
                  <%= current_user.first_name %>!</span></li>
              <li class="navbar-item student"><%= link_to 'Profile', user_path(current_user) %></li>
              ,
              <li class="navbar-item"><%= link_to 'Logout', session_path, method: :delete %></li>
            </div>
          </ul>

        <% end %>
      </nav>
      <% end %>


    <div class="container-fluid my-3">
      <% if flash[:notice].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% elsif flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>


      <%= yield %>

    </div>

  </body>
</html>
